.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #eea944;
    -fx-text-fill: #000000;
    -fx-background-radius: 10 10 10 10;
}

.tree-table-cell {
    -fx-alignment: center ;
}

.jfx-checkbox {
    -jfx-checkbox-type: RAISED;
    -fx-background-color: #eea944;
    -fx-text-fill: #000000;
}



